
$primaryColor: #002E5B;
$secondColor:#D4AF37;
$naturalColor:#fff;
$backgroundColor:#EEEAE9;


// Classes
.p-60{
    padding: 60px;
}

.divider{
    border: 1px solid;
    border-color: #d4af37;
    border-width: 2px;
    margin-bottom: 30px;
}